<a href="https://colab.research.google.com/github/leechanwoo-kor/colab_repository/blob/main/%EC%A0%84%ED%86%B5%EC%9D%B8%EC%A7%80_%EC%84%A0%ED%98%B8%EB%8F%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 데이터 불러오기

In [1]:
from google.colab import drive
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [2]:
file_name="/drive/MyDrive/Colab Notebooks/전통인지_선호도/전통인지_선호도.CSV"

In [45]:
import pandas as pd  # 사용할 데이터를 dataframe 형태로 불러옴
import scipy.stats as stats  # t-test를 위한 라이브러리

df = pd.read_csv(file_name, encoding='cp949') # csv 파일 불러오기

print('dataframe의 크기:', df.shape)  # dataframe의 크기 확인
df.head()  # dataframe의 처음 5개 행만 보여주기

dataframe의 크기: (39, 23)

,구분,이름,성별,한복,한과,기와집,다보탑,씨름,비녀,전통상차림,...,갓,식혜,온돌방,도자기,널뛰기,고무신,산적,탈,부채춤,창호지문
0,열매,김도겸,남,1,1,2,0,0,0,2,...,2,0,2,2,0,1,0,1,0,1
1,열매,김민재,남,2,1,1,0,1,0,1,...,2,0,0,0,0,0,2,2,0,2
2,열매,김시윤,남,0,0,1,0,2,0,0,...,1,0,0,1,0,0,1,0,1,2
3,열매,남하랑,남,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,열매,노시우,남,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

### 데이터 전처리

In [4]:
df1 = df[['구분','한복']].copy()
df1.rename(columns = {'한복' : '의생활'}, inplace=True)
df2 = df[['구분','비녀']].copy()
df2.rename(columns = {'비녀' : '의생활'}, inplace=True)
df3 = df[['구분','갓']].copy()
df3.rename(columns = {'갓' : '의생활'}, inplace=True)
df4 = df[['구분','고무신']].copy()
df4.rename(columns = {'고무신' : '의생활'}, inplace=True)

의생활 = pd.concat([df1,df2,df3,df4])
# 의생활.head()

In [5]:
df1 = df[['구분','한과']].copy()
df1.rename(columns = {'한과' : '식생활'}, inplace=True)
df2 = df[['구분','전통상차림']].copy()
df2.rename(columns = {'전통상차림' : '식생활'}, inplace=True)
df3 = df[['구분','식혜']].copy()
df3.rename(columns = {'식혜' : '식생활'}, inplace=True)
df4 = df[['구분','산적']].copy()
df4.rename(columns = {'산적' : '식생활'}, inplace=True)

식생활 = pd.concat([df1,df2,df3,df4])
# 식생활.head()

In [6]:
df1 = df[['구분','기와집']].copy()
df1.rename(columns = {'기와집' : '주생활'}, inplace=True)
df2 = df[['구분','온돌방']].copy()
df2.rename(columns = {'온돌방' : '주생활'}, inplace=True)
df3 = df[['구분','창호지문']].copy()
df3.rename(columns = {'창호지문' : '주생활'}, inplace=True)

주생활 = pd.concat([df1,df2,df3])
# 주생활.head()

In [7]:
df1 = df[['구분','다보탑']].copy()
df1.rename(columns = {'다보탑' : '문화재'}, inplace=True)
df2 = df[['구분','경복궁']].copy()
df2.rename(columns = {'경복궁' : '문화재'}, inplace=True)
df3 = df[['구분','도자기']].copy()
df3.rename(columns = {'도자기' : '문화재'}, inplace=True)
df4 = df[['구분','탈']].copy()
df4.rename(columns = {'탈' : '문화재'}, inplace=True)

문화재 = pd.concat([df1,df2,df3,df4])
# 문화재.head()

In [8]:
df1 = df[['구분','씨름']].copy()
df1.rename(columns = {'씨름' : '전통놀이'}, inplace=True)
df2 = df[['구분','널뛰기']].copy()
df2.rename(columns = {'널뛰기' : '전통놀이'}, inplace=True)
df3 = df[['구분','강강수월래']].copy()
df3.rename(columns = {'강강수월래' : '전통놀이'}, inplace=True)

전통놀이 = pd.concat([df1,df2,df3])
# 전통놀이.head()

In [9]:
df1 = df[['구분','풍속화']].copy()
df1.rename(columns = {'풍속화' : '전통예술'}, inplace=True)
df2 = df[['구분','부채춤']].copy()
df2.rename(columns = {'부채춤' : '전통예술'}, inplace=True)

전통예술 = pd.concat([df1,df2])
# 전통예술.head()

### 그룹별 기술통계값 확인

In [30]:
import numpy as np

In [32]:
실험집단 = 의생활[의생활['구분']=='열매']
비교집단 = 의생활[의생활['구분']=='행복']

print("[의생활] 실험집단 평균:", np.round(np.mean(실험집단['의생활']),2), "분산:", np.round(np.var(실험집단['의생활']),2), "표준편차:", np.round(np.std(실험집단['의생활']),2))
print("[의생활] 비교집단 평균:", np.round(np.mean(비교집단['의생활']),2), "분산:", np.round(np.var(비교집단['의생활']),2), "표준편차:", np.round(np.std(비교집단['의생활']),2))

[의생활] 실험집단 평균: 0.92 분산: 0.74 표준편차: 0.86
[의생활] 비교집단 평균: 0.75 분산: 0.58 표준편차: 0.76

In [33]:
실험집단 = 식생활[식생활['구분']=='열매']
비교집단 = 식생활[식생활['구분']=='행복']

print("[식생활] 실험집단 평균:", np.round(np.mean(실험집단['식생활']),2), "분산:", np.round(np.var(실험집단['식생활']),2), "표준편차:", np.round(np.std(실험집단['식생활']),2))
print("[식생활] 비교집단 평균:", np.round(np.mean(비교집단['식생활']),2), "분산:", np.round(np.var(비교집단['식생활']),2), "표준편차:", np.round(np.std(비교집단['식생활']),2))

[식생활] 실험집단 평균: 0.62 분산: 0.55 표준편차: 0.74
[식생활] 비교집단 평균: 0.61 분산: 0.49 표준편차: 0.7

In [43]:
dataframes = [의생활, 식생활, 주생활, 문화재, 전통놀이, 전통예술]
dataframe_names = ['의생활', '식생활', '주생활', '문화재', '전통놀이', '전통예술']

In [47]:
for i, df in enumerate(dataframes):
    실험집단 = df[df['구분']=='열매']
    비교집단 = df[df['구분']=='행복']
    
    print(f"[{dataframe_names[i]}] 실험집단")
    print("평균:", np.round(np.mean(실험집단[dataframe_names[i]]),2), "분산:", np.round(np.var(실험집단[dataframe_names[i]]),2), "표준편차:", np.round(np.std(실험집단[dataframe_names[i]]),2))
    print(f"[{dataframe_names[i]}] 비교집단")
    print("평균:", np.round(np.mean(비교집단[dataframe_names[i]]),2), "분산:", np.round(np.var(비교집단[dataframe_names[i]]),2), "표준편차:", np.round(np.std(비교집단[dataframe_names[i]]),2))
    print('t-test 결과:', stats.ttest_ind(실험집단[dataframe_names[i]], 비교집단[dataframe_names[i]], equal_var=True))

[의생활] 실험집단
평균: 0.92 분산: 0.74 표준편차: 0.86
[의생활] 비교집단
평균: 0.75 분산: 0.58 표준편차: 0.76
t-test 결과: Ttest_indResult(statistic=1.2633104784648443, pvalue=0.20838684271296543)
[식생활] 실험집단
평균: 0.62 분산: 0.55 표준편차: 0.74
[식생활] 비교집단
평균: 0.61 분산: 0.49 표준편차: 0.7
t-test 결과: Ttest_indResult(statistic=0.06817164386407125, pvalue=0.9457374316775413)
[주생활] 실험집단
평균: 0.78 분산: 0.49 표준편차: 0.7
[주생활] 비교집단
평균: 0.57 분산: 0.39 표준편차: 0.63
t-test 결과: Ttest_indResult(statistic=1.6320523423271025, pvalue=0.10540385402506969)
[문화재] 실험집단
평균: 0.51 분산: 0.54 표준편차: 0.73
[문화재] 비교집단
평균: 0.4 분산: 0.3 표준편차: 0.54
t-test 결과: Ttest_indResult(statistic=1.035510837708751, pvalue=0.30205370387590885)
[전통놀이] 실험집단
평균: 0.7 분산: 0.69 표준편차: 0.83
[전통놀이] 비교집단
평균: 0.8 분산: 0.79 표준편차: 0.89
t-test 결과: Ttest_indResult(statistic=-0.6102536379328749, pvalue=0.5428978781424858)
[전통예술] 실험집단
평균: 0.4 분산: 0.38 표준편차: 0.62
[전통예술] 비교집단
평균: 0.47 분산: 0.47 표준편차: 0.69
t-test 결과: Ttest_indResult(statistic=-0.45011869849136216, pvalue=0.6539061950852794)

In [13]:
유의미한 차이가 있는지 확인하기 위하여 위와 같이 독립표본 T 검정을 실시하였습니다.
p-value가 0.05보다 높은 것은 통계적으로 유의미한 차이를 보이지 않는 것으로 나타남
p-value가 0.05보다 작은 것은 통계적으로 유의미한 차이가 있는 것으로 볼 수 있다.